@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

.container {
    main {
        margin: 0 2rem;
        padding: 1rem;
        font-family: var(--font-family);
        line-height: var(--line-height-base);

        header {
            display: flex;
            margin-bottom: 2rem;
            gap: 1rem;
        }

        .published {
            display: flex;
            justify-content: end;
            color: var(--color-muted);
        }

        .post {
            padding: 2rem 0;

            .postTitle {
                text-align: center;
                font-size: var(--h1-font-size);
                text-decoration: underline;
                text-decoration-color: var(--color-accent-blue);
            }

            .postBody {
                padding: 2rem;
                h1 {
                    text-align: center;
                    font-size: var(--h1-font-size);
                }
                h2 {
                    font-size: var(--h2-font-size);
                }
                h3 {
                    font-size: var(--h3-font-size);
                }
                p,
                strong,
                em,
                li {
                    font-size: var(--font-size-large);
                }
            }
        }
    }
}
