/*
====================================
= PROJECTS PAGE STYLES
====================================
*/

/* Layout & Container */
.projects-container {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* Project Items */
.project-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.project-item:nth-child(odd) {
  border-right: none;
  border-left: 1px solid var(--border-color);
}

.project-item h2 {
  display: inline-block;
  margin-right: 0;
  margin-left: auto;
  padding: 0.25rem 1.5rem;
}

.project-item:nth-child(even) h2 {
  margin-left: 0;
  margin-right: auto;
}

/* Project Content (Text & Image) */
.project-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 2rem;
  padding: 1rem;
  gap: 2rem;
}

.project-item:nth-child(even) .project-content {
  flex-direction: row-reverse;
  border-left: none;
}

/* Project Image */
.project-image {
  max-width: 25%;
  margin-left: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

/* Project Links */
.project-links {
  display: flex;
  justify-content: space-between;
  margin: 1rem 3rem;
}

/* Responsive Design */
@media only screen and (max-width: 60em) {
  .projects-container {
    width: 95%;
    padding: 0.5rem;
  }

  .project-content p {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .projects-container {
    width: 95%;
    padding: 0.5rem;
  }

  .project-content {
    flex-direction: column;
  }

  .project-item:nth-child(even) .project-content {
    flex-direction: column;
  }

  .project-image {
    max-width: 50%;
  }

  .project-links {
    justify-content: space-between;
  }
}
