header {
  box-shadow: 0 1px 0 0 black;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
  height: 5vh;
  a {
    color: black;
    margin-right: 1.5rem;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }
}

.active {
  color: #749bc2;
  border-bottom: 1px solid #4682a9;
}

@media only screen and (max-width: 960px) {
  header {
    justify-content: center;
    margin-right: 0px;
  }
}
