/*
====================================
= NAVBAR STYLES
====================================
*/

/* Header (Navbar Container) */
header {
  background-color: var(--navbar-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  font-weight: 400;
  font-size: 1rem;
}

/* Navbar Links */
.nav-links {
  display: flex;
}

.nav-links a {
  color: var(--navbar-inactive);
  text-align: center;
  background: var(--navbar-color);
  margin: 0 1rem;
  padding: 0.25rem;
  text-decoration: none;
  border-radius: 5px;
  width: 5rem;
}

header a:hover {
  box-shadow: 0 0 5px white;
}

header a:hover,
header a:active {
  text-decoration: none;
}

/* Active Link State */
.nav-links .active {
  background: var(--color-effect);
  color: var(--navbar-active);
  transform: scale(1.2);
  transition: all 0.1s linear;
}

/* Dark Mode Button */
#darkmodeBtn {
  color: var(--navbar-active);
  margin: 0 1rem 0 1rem;
}

/* Responsive Design */
@media only screen and (max-width: 60em) {
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-grow: 1;
  }

  #darkmodeBtn {
    position: absolute;
    right: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .nav-links {
    gap: 0;
  }

  .nav-links a {
    margin: 0.5rem;
    font-size: 0.75rem;
    width: 3.5rem;
  }
}
