nav {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: clamp(0.5rem, 2vw, 2rem);
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        height: 75%;
        border-radius: 0.5rem;
        background-color: var(--color-surface);
        box-shadow: 5px 5px black;
        border: 2px solid black;
        transform-origin: left;
        z-index: 0;
        left: 1rem;
        transition: width 0.1s ease-out;
        width: calc(var(--nav-bg-width) + 2rem);
    }

    .nav-links {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        position: relative;
        z-index: 1;
        user-select: none;

        button {
            padding: 0.5rem 2rem;
            font-weight: bold;
            border: 2px solid black;
            border-radius: 0.5rem;
            box-shadow: 3px 3px black;
            transition: all 0.2s ease;
            cursor: pointer;

            &:hover {
                transform: translateY(-2px);
                box-shadow: 5px 5px black;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    nav {
        &::before {
            left: 50%;
            transform: translateX(-50%);
            width: calc(var(--nav-bg-width) + 2rem);
        }

        .nav-links {
            margin: 0 auto;
        }
    }
}
