nav {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(0.5rem, 2vw, 2rem);
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        left: 1rem;
        height: 75%;
        width: calc(var(--nav-bg-width) + 2rem);
        border-radius: 0.5rem;
        background-color: var(--color-surface);
        border: 2px solid black;
        box-shadow: 5px 5px black;
        transform-origin: left;
        transition: width 0.1s ease-out;
        z-index: 0;
    }

    .you-made-it {
        left: calc(var(--nav-bg-width) + 2rem);
        white-space: nowrap;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        opacity: 0;
        pointer-events: none;
        z-index: 1;
        transition:
            transform 0.2s ease,
            opacity 0.2s ease;
    }

    &.at-100 {
        .you-made-it {
            opacity: 1;
        }
    }

    .nav-links {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        position: relative;
        z-index: 1;
        user-select: none;
    }
}

@media screen and (max-width: 1200px) {
    nav {
        &::before {
            left: 50%;
            transform: translateX(-50%);
            width: calc(var(--nav-bg-width) + 2rem);
        }

        .nav-links {
            margin: 0 auto;
        }
    }
}
