header {
  background-color: var(--navbar-color);
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  height: 3rem;
  font-weight: 400;
  font-size: 1rem;
  a {
    color: var(--navbar-inactive);
    margin: 0 1rem;
    text-decoration: none; /* Combine these into one block */
  }
  a:hover,
  a:active {
    text-decoration: none;
  }
}

.active {
  color: var(--navbar-active);
  transform: scale(1.2);
  transition: all 0.1s linear;
}

#darkmodeBtn {
  color: var(--navbar-active);
  margin: 0 1rem 0 1rem;
}

@media only screen and (max-width: 60em) {
  header {
    justify-content: space-evenly;
    gap: 1rem;
    a {
      margin: 0;
    }
    #darkmodeBtn {
      margin: 0;
    }
  }
}
