body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f6f4eb;
  margin: 0;
  padding: 0;
}

@keyframes bg {
  0% {
    background-size: 0 1px, 1px 0, 0 1px, 1px 0;
  }
  25% {
    background-size: 100% 1px, 1px 0, 0 1px, 1px 0;
  }
  50% {
    background-size: 100% 1px, 1px 100%, 0 1px, 1px 0;
  }
  75% {
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 0;
  }
  100% {
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
  }
}

main {
  margin: 1rem 1rem 1rem 1rem;
  padding: 2rem;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, black 100%, black 100%),
    linear-gradient(to bottom, black 100%, black 100%),
    linear-gradient(to right, black 100%, black 100%),
    linear-gradient(to bottom, black 100%, black 100%);
  background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.1);
}

main * {
}

main.animate {
  animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
}

@media only screen and (max-width: 960px) {
  main {
    width: 80%;
  }
}
