/* index.css - Global Theme Styles */
:root {
  --primary-page-bg: #fffef8;
  --alt-page-bg: #fffef8;
  --text-color: black;
  --alt-text-color: #4682a9;
  --border-color: black;
  --navbar-color: black;
  --navbar-active: white;
  --navbar-inactive: #a7a7a7;
  --color-effect: linear-gradient(
    45deg,
    rgba(0, 204, 255, 0.5),
    rgba(255, 0, 204, 0.5)
  );
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 200;

  background-color: var(--primary-page-bg);
  color: var(--text-color);
  transition: background-color 0.1s linear, color 0.1s linear;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body.darkmode {
  --primary-page-bg: #191919;
  --alt-page-bg: rgba(25, 25, 25, 0.5);
  --text-color: white;
  --border-color: #fffef8;

  background-color: var(--primary-page-bg);
  color: var(--text-color);
}
