:root {
  --primary-page-bg: #fffef8;
  --alt-page-bg: #fffef8;
  --text-color: black;
  --alt-text-color: #4682a9;
  --border-color: black;
  --navbar-color: black;
  --navbar-active: white;
  --navbar-inactive: #a7a7a7;
  --color-effect: linear-gradient(
    45deg,
    rgba(0, 204, 255, 0.5),
    rgba(255, 0, 204, 0.5)
  );
}

body.darkmode {
  --primary-page-bg: #191919;
  --alt-page-bg: rgba(25, 25, 25, 0.5);
  --text-color: white;
  --border-color: #fffef8;

  background-color: var(--primary-page-bg);
  color: var(--text-color);
}
