.home-content {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.section {
  border-bottom: 1px solid var(--border-color);

  p span {
    font-weight: 500;
  }
}

.skillsTable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    border-bottom: 1px solid var(--border-color);
    margin: 1rem 0;
  }

  ul {
    list-style-type: none;
    padding: 0 0 0.5rem 0;
    margin: 0 0 0.5rem 0;
  }
}

@media only screen and (max-width: 60em) {
  .home-content {
    width: 95%;
    padding: 0.5rem;
  }
}
