.home {
  font-size: 2rem;
  font-weight: 200;
}

.name {
  color: #4682a9;
  font-weight: 300;
}

p {
  font-size: 1.5rem;
  margin: 1rem;
}

@media only screen and (max-width: 960px) {
  .home {
    font-size: 1.5rem;
  }
}
