.home {
  font-size: 2rem;
  font-weight: 200;
}

.name {
  color: var(--alt-text-color);
  font-weight: 300;
}

p {
  font-size: 1.5rem;
  text-align: center;
}

@media only screen and (max-width: 960px) {
  .home {
    font-size: 1.5rem;
  }
}
