.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    pointer-events: none;

    .background-grid {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #b2c4df 2px, transparent 1px),
            linear-gradient(to bottom, #b2c4df 2px, transparent 1px);
        background-size: 100px 100px;
        z-index: -1;
    }
}
