.contact {
  font-weight: 200;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact-info {
  font-size: 1.5rem;
  padding: 0;

  li {
    list-style-type: none;
    margin: 1rem;
  }

  a {
    text-decoration: none;
    color: var(--alt-text-color);
    border-bottom: 1px solid;
  }
}

@media only screen and (max-width: 60em) {
  .contact {
    width: 95%;
  }
}
