.contact {
  font-size: 2rem;
  font-weight: 200;
}

ul {
  font-size: 1.5rem;

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: var(--alt-text-color);
    border-bottom: 1px solid;
  }
}
